@inherits LayoutComponentBase

@using StuDeals.Classes
@inject NavigationManager NavManager

<PageTitle>StuDeals</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu @ref="Menu"></NavMenu>
    </div>

    <main>
        <div class="top-row px-4">

            @if (Account.CurrentAccount == null)
            {
                <NavLink class="nav-link" href="login">Log in</NavLink>
            }
            else
            {
                <p style="padding: 14px;">Welcome Back @Account.CurrentAccount.Name</p>
                @UpdateMenu()
                <button class="btn btn-primary" @onclick="LogOut">Log Out</button>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    private NavMenu? Menu;

    private string UpdateMenu()
    {
        if (Menu != null)
        {
            Menu.ToggleNavMenu();
            Menu.ToggleNavMenu();
        }
        return string.Empty;
    }

    private void LogOut()
    {
        Account.LogOut();
        UpdateMenu();
        NavManager.NavigateTo("/");

    }
}