@inherits LayoutComponentBase

@using StuDeals.Classes

<PageTitle>StuDeals</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">

            @if (Account.CurrentAccount == null)
            {
                <NavLink class="nav-link" href="login">Log in</NavLink>
            }
            else
            {
                <p>Welcome Back @Account.CurrentAccount.Name</p>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>