<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">StuDeals</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

@using StuDeals.Classes

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu" style="min-width:250px">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="suggest-venue">
                <span class="oi oi-plus" aria-hidden="true"></span> Suggest Venue
            </NavLink>
        </div>

        @if (Account.CurrentAccount != null && Account.CurrentAccount.Type == Account.AccountType.Mod)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="suggestions">
                    <span class="oi oi-list" aria-hidden="true"></span> Review Suggestions
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="add-deals">
                    <span class="oi oi-plus" aria-hidden="true"></span> Add Deals
                </NavLink>
            </div>
        }

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="venuelist">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Venue List
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="deallist">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Deal List
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    public void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
        InvokeAsync(() =>
             {
                 StateHasChanged();
             });
    }
}
