@page "/add-venue"
@page "/add-venue/{ID:int}"

@using StuDeals.Classes
@inject NavigationManager NavManager

<PageTitle>Add Venue</PageTitle>

<h1>Add a venue</h1>

<p>
    Enter Name:
    <input disabled="@suggestion" @bind="_Name" />
</p>

<p>
    Enter Description:
    <input @bind="_Description" />
</p>

<p>
    Enter Location:
    <input disabled="@suggestion" @bind="_Location" />
</p>

<p>
    Enter Image Link:
    <input @bind="_Image" />
</p>

<button class="btn btn-primary" @onclick="CreateVenue">Add Venue</button>
@if (suggestion)
{
    <button class="btn btn-primary" @onclick="RemoveSuggestion">Remove Suggestion</button>
}

@code
{
    [Parameter]
    public int ID { get; set; }

    private string _Name = "Name";
    private string _Description = "Description";
    private string _Location = "Location";
    private string _Image = "Image Link";

    private bool suggestion = false;
    private Venue? _SuggestedVenue = null;

    private void CreateVenue()
    {
        if (suggestion)
        {
            DataLayer.Instance.AcceptSuggestion(ID, _Description, _Image);
        }
        else
        {
            Venue venue = new Venue(_Name, _Description, _Location, _Image, 0, false);
            DataLayer.Instance.InsertVenue(venue);
        }

        NavManager.NavigateTo("suggestions");
    }

    private void RemoveSuggestion()
    {
        if (DataLayer.Instance.DeleteVenue(ID)) NavManager.NavigateTo("suggestions");

    }

    protected override void OnInitialized()
    {
        if (Account.CurrentAccount == null || Account.CurrentAccount.Type != Account.AccountType.Mod) NavManager.NavigateTo("/");

        _SuggestedVenue = DataLayer.Instance.SelectVenue(ID);
        if (_SuggestedVenue != null)
        {
            _Name = _SuggestedVenue.Name;
            _Location = _SuggestedVenue.Location;
            suggestion = true;
        }
    }
}