@page "/add-venue"
@using StuDeals.Classes

<PageTitle>Add Venue</PageTitle>

<h1>Add a venue</h1>

<p>
    Enter ID:
    <input @bind="_ID" />
</p>

<p>
    Enter Name:
    <input @bind="_Name" />
</p>

<p>
    Enter Description:
    <input @bind="_Description" />
</p>

<p>
    Enter Location:
    <input @bind="_Location" />
</p>

<p>
    Enter Image Link:
    <input @bind="_Image" />
</p>

<button class="btn btn-primary" @onclick="CreateVenue">Add Venue</button> <p>@_Response</p>

@code
{
    private string _ID = "ID";
    private string _Name = "Name";
    private string _Description = "Description";
    private string _Location = "Location";
    private string _Image = "Image Link";

    private string _Response = "";
    private void CreateVenue()
    {
        _Response = "Inserting...";
        Venue venue = new Venue(int.Parse(_ID), _Name, _Description, _Location, _Image);
        DataLayer.Instance.InsertVenue(venue);
        _Response = "Insert succesful";
    }
}