@page "/"

<PageTitle>Home</PageTitle>

@using StuDeals.Classes

<style>
    div.scrollmenu {
        overflow: auto;
        white-space: nowrap;
    }

        div.scrollmenu a {
            display: inline-block;
            text-align: left;
            padding: 14px;
            text-decoration: none;
        }

    img {
        border-radius: 8px;
        width: 300px;
        height: 200px;
    }

    .container {
        position: relative;
    }

    .overlay {
        border-radius: 8px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 12px;
        right: 0;
        opacity: 0;
        height: 200px;
        width: 0%;
        transition: .5s ease;
        background-color: darkslateblue;
    }

    .container:hover .overlay {
        width: 300px;
        opacity: 1;
    }

    .text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

</style>

<h1>Home</h1>

Highly rated venues.

@if (fiveStarVenues == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <span class="oi oi-star-filled" aria-hidden="true"></span>
    <div class="scrollmenu">
        @foreach (Venue venue in fiveStarVenues)
        {
            <a>
                <div class="container">
                    <img src="@($"Images\\{venue.ImageLink}")">
                    <NavLink class="nav-link" href="@($"venue/{venue.ID}")">
                        <div class="overlay">
                            <div class="text">@($"{@venue.Name}")</div>
                        </div>
                    </NavLink>
                </div>
            </a>
        }
    </div>
}

@code
{
    private Venue[]? fiveStarVenues;

    protected override async Task OnInitializedAsync()
    {
        fiveStarVenues = await Task.Factory.StartNew(() => DataLayer.Instance.GetFiveStarVenues());
    }
}