@page "/"

<PageTitle>Home</PageTitle>

@using StuDeals.Classes

<style>
    div.scrollmenu {
        overflow: auto;
        white-space: nowrap;
    }

        div.scrollmenu a {
            max-width: 300px;
            display: inline-block;
            text-align: left;
            padding: 14px;
            text-decoration: none;
        }

    img {
        border-radius: 8px;
        width: 100%;
        height: auto;
    }

    .container {
        position: relative;
    }

    .bottom-left {
        position: absolute;
        bottom: 8px;
        left: 16px;
    }

    .bottom-right {
        position: absolute;
        bottom: 8px;
        right: 16px;
    }
</style>

<h1>Home</h1>

Highly rated venues.

@if (fiveStarVenues == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <span class="oi oi-star-filled" aria-hidden="true"></span>
    <div class="scrollmenu">
        @foreach (Venue venue in fiveStarVenues)
        {
            <a>
                <NavLink class="nav-link" href="@($"venue/{venue.ID}")">
                    <div class="container">
                        <img src="@($"Images\\{venue.ImageLink}")">
                        <div class="bottom-left">@venue.Name</div>
                        <div class="bottom-right">@venue.Rating</div>
                    </div>
                </NavLink>
            </a>
        }
    </div>
}

@code
{
    private Venue[]? fiveStarVenues;

    protected override async Task OnInitializedAsync()
    {
        fiveStarVenues = await Task.Factory.StartNew(() => DataLayer.Instance.GetFiveStarVenues());
    }
}